.App-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.chat-box {
    margin: 0px;
    padding: 10px;
    border: 1px solid #ddd;
    height: 50vh;
    overflow-y: auto;
}

.message {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.user {
    background-color: #007bff;
    color: white;
    text-align: right; /* 사용자 메시지 오른쪽 정렬을 위해 text-align 사용 */
    margin-left: auto; /* 메시지 박스를 오른쪽으로 밀어내기 */
    width: fit-content; /* 메시지 내용에 맞게 너비 조절 */
    max-width: 60%; /* 최대 너비 설정 */
}

.bot {
    background-color: #d3d2d2;
    color: black;
    text-align: left; /* 챗봇 메시지 왼쪽 정렬을 위해 text-align 사용 */
    margin-right: auto; /* 메시지 박스를 왼쪽으로 밀어내기 */
    width: fit-content; /* 메시지 내용에 맞게 너비 조절 */
    max-width: 60%; /* 최대 너비 설정 */
}

.loading-message {
    padding: 10px 10px; /* 말풍선 내부의 여백을 조정 */
    min-width: 80px; /* 말풍선의 최소 너비를 설정 */
    /* 필요에 따라 추가 스타일링 */
  }
  

.loader10:before{
    content: "";
    position: absolute;
    top: 0px;
    left: -25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    -webkit-animation: loader10g 3s ease-in-out infinite;
        animation: loader10g 3s ease-in-out infinite;
}
  
.loader10{
  position: relative;
  width: 12px;
  height: 12px;
  top: 46%;
  left: 46%;
  border-radius: 12px;
  -webkit-animation: loader10m 3s ease-in-out infinite;
      animation: loader10m 3s ease-in-out infinite;
}


.loader10:after{
  content: "";
  position: absolute;
  top: 0px;
  left: 25px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  -webkit-animation: loader10d 3s ease-in-out infinite;
      animation: loader10d 3s ease-in-out infinite;
}

@-webkit-keyframes loader10g{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, 1);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10g{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, 1);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10m{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, 1);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10m{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, 1);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10d{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, 1);}
  100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10d{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, 1);}
  100%{background-color: rgba(255, 255, 255, .2);}
}